@model Music
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">
            @Model.TenCaKhuc
            <span class="badge badge-pill badge-primary">
                <small>@Model.Gia.ToString("c")</small>
            </span>
        </h5>
        <form id="@Model.MusicID" asp-page="/MyCart" method="post">
            <input type="hidden" asp-for="MusicID" />
            <input type="hidden" name="returnUrl"
                   value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <div class="card-text p-1">
                <strong>@Model.TheLoai</strong>
                <p>@Model.CaSi</p>
                <button type="submit"
                        class="btn btn-warning btn-sm pull-right">
                    Mua
                </button>
            </div>
        </form>
    </div>
</div>


